In [222]:
import pandas as pd
import sqlalchemy

conn = sqlalchemy.create_engine(
    'mysql+pymysql://kinanweda:Jimbamamba22@localhost:3306/ProjectAkhir'
)

dfCleaned = pd.read_sql('datacust', conn)
dfCleaned

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,QuantityCanceled
0,60000,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,3,2019-10-12 13:46:41,4.00,18288,Netherlands,0
1,60001,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,5,2019-10-12 13:48:01,3.75,18289,Germany,0

In [223]:
def unique_counts(data):
   for i in dfCleaned.columns:
       count = dfCleaned[i].nunique()
       print(i, ": ", count)
unique_counts(dfCleaned)

InvoiceNo :  2
StockCode :  2
Description :  2
Quantity :  2
InvoiceDate :  2
UnitPrice :  2
CustomerID :  2
Country :  2
QuantityCanceled :  1

In [224]:
dfCleaned['TotalPrice'] = dfCleaned['UnitPrice'] * (dfCleaned['Quantity'] - dfCleaned['QuantityCanceled'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,QuantityCanceled,TotalPrice
0,60000,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,3,2019-10-12 13:46:41,4.00,18288,Netherlands,0,12.00
1,60001,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,5,2019-10-12 13:48:01,3.75,18289,Germany,0,18.75

In [225]:
dfCleaned['InvoiceDate'] = pd.to_datetime(dfCleaned['InvoiceDate'])

In [227]:
dfCleaned['Country'] = labelEncoder.transform(dfCleaned['Country'])

In [228]:
today = datetime.date.today() + datetime.timedelta(days=1)
NOW = dt.datetime(today.year,today.month,today.day)
dfCleaned['InvoiceDate'] = pd.to_datetime(dfCleaned['InvoiceDate'])

In [231]:
customAggregation = {}
customAggregation["InvoiceDate"] = lambda x:x.iloc[0]
customAggregation["CustomerID"] = lambda x:x.iloc[0]
customAggregation["TotalPrice"] = "sum"

rfmTable = dfCleaned.groupby("InvoiceNo").agg(customAggregation)

In [232]:
rfmTable["Recency"] = NOW - rfmTable["InvoiceDate"]
rfmTable["Recency"] = pd.to_timedelta(rfmTable["Recency"]).astype("timedelta64[D]")

In [180]:
customAggregation = {}

customAggregation["Recency"] = ["min", "max"]
customAggregation["InvoiceDate"] = lambda x: len(x)
customAggregation["TotalPrice"] = "sum"

rfmTableFinal = rfmTable.groupby("CustomerID").agg(customAggregation)

In [181]:
rfmTableFinal.columns = ["min_recency", "max_recency", "frequency", "monetary_value"]

In [182]:
quantiles = rfmTableFinal.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [183]:
segmentedRFM = rfmTableFinal

In [184]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [208]:
segmentedRFM['r_quartile'] = segmentedRFM['min_recency'].apply(RScore, args=('min_recency',quantiles,))
segmentedRFM['f_quartile'] = segmentedRFM['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmentedRFM['m_quartile'] = segmentedRFM['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))

In [206]:
segmentedRFM['RFMScore'] = segmentedRFM['r_quartile'].astype('str')+segmentedRFM['f_quartile'].astype('str')+segmentedRFM['m_quartile'].astype('str')

In [187]:
dfCleaned = pd.merge(dfCleaned,segmentedRFM, on='CustomerID')

In [188]:
dfCleaned = dfCleaned.drop(columns=['r_quartile', 'f_quartile', 'm_quartile'])

In [189]:
dfCleaned['Month'] = dfCleaned["InvoiceDate"].map(lambda x: x.month)
dfCleaned['Weekday'] = dfCleaned["InvoiceDate"].map(lambda x: x.weekday())
dfCleaned['Day'] = dfCleaned["InvoiceDate"].map(lambda x: x.day)
dfCleaned['Hour'] = dfCleaned["InvoiceDate"].map(lambda x: x.hour)

In [191]:
cluster = dfCleaned['Description'].apply(lambda x : cluster[x])
df2 = pd.get_dummies(cluster, prefix="Cluster").mul(dfCleaned["TotalPrice"], 0)
df2 = pd.concat([dfCleaned['InvoiceNo'], df2], axis=1)
df2_grouped = df2.groupby('InvoiceNo').sum()

           Cluster_50  Cluster_60
InvoiceNo
60000            12.0        0.00
60001             0.0       18.75

In [192]:
customAggregation = {}
customAggregation["TotalPrice"] = lambda x:x.iloc[0]
customAggregation["min_recency"] = lambda x:x.iloc[0]
customAggregation["max_recency"] = lambda x:x.iloc[0]
customAggregation["frequency"] = lambda x:x.iloc[0]
customAggregation["monetary_value"] = lambda x:x.iloc[0]
customAggregation["CustomerID"] = lambda x:x.iloc[0]
customAggregation["Quantity"] = "sum"
customAggregation["Country"] = lambda x:x.iloc[0]


df_grouped = dfCleaned.groupby("InvoiceNo").agg(customAggregation)

In [307]:
customAggregation = {}
customAggregation["TotalPrice"] = ['min','max','mean']
customAggregation["min_recency"] = lambda x:x.iloc[0]
customAggregation["max_recency"] = lambda x:x.iloc[0]
customAggregation["frequency"] = lambda x:x.iloc[0]
customAggregation["monetary_value"] = lambda x:x.iloc[0]
customAggregation["Quantity"] = "sum"
customAggregation["Country"] = lambda x:x.iloc[0]

df_grouped_final = df_grouped.groupby("CustomerID").agg(customAggregation)
df_grouped_final.columns = ["min", "max", "mean", "min_recency", "max_recency", "frequency", "monetary_value", "quantity", "country"]

In [308]:
df2_grouped_final = pd.concat([df_grouped['CustomerID'], df2_grouped], axis=1).set_index("CustomerID").groupby("CustomerID").sum()
df2_grouped_final = df2_grouped_final.div(df2_grouped_final.sum(axis=1), axis=0)
df2_grouped_final = df2_grouped_final.fillna(0)

In [195]:
df3 = df2_grouped_final.copy()

In [196]:
for j in df3.columns:
    df3.drop(str(j),axis=1,inplace=True)
for i in range(135):
    df3['Cluster_' + str(i)] = 0.0

In [197]:
df2_grouped_final = df2_grouped_final.reindex(sorted(df2_grouped_final.columns), axis=1)

In [198]:
for i in df2_grouped_final.columns.values:
    df3[i] = df3[i].replace({0.0:df2_grouped_final[i].values.tolist()})

In [200]:
X1 = df_grouped_final.as_matrix()
X2 = df3.as_matrix()
X1 = scaler.transform(X1)
X_final_std_scale = np.concatenate((X1, X2), axis=1)

C:\Users\KINAN BAHUWEDA M\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\KINAN BAHUWEDA M\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [201]:
X_final_std_scale

array([[-0.10802871, -0.10786062, -0.12737151, -0.92061916, -1.89036132,
        -0.42507933, -0.22841134, -0.23493264, -1.64822013,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [-0.04234355, -0.09718655, -0.09903164, -0.92061916, -1.89036132,
        -0.42507933, -0.22760887, -0.23453657, -3.10384882,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ]])

In [202]:
with open('modelpredict.pkl','rb') as y :
    modelLoad1 = pickle.load(y)

In [203]:
model = model.predict(X_final_std_scale)

In [204]:
model

array([0, 5], dtype=int64)